body {
  font-family: 'Libre Baskerville', serif;
  /* background-color: #F8C5B3; */
  background-color: #f6f0e1;
}

a.chelseaHeader {
  text-decoration: none;
  color: black;
  /* color: #9B7E46; */
  /* color: #9a856c; */
  font-family: 'Coustard', serif;
  letter-spacing: 1px;
}

a.chelseaHeader.clear {
  opacity: 0;
  line-height: 1.5em;
}

a.chelseaHeader.giant {
  position: absolute;
  font-size: 1.6em;
  white-space: nowrap;
  z-index: 10;
}

.landing, .link {
  display: flex;
}

.hideOnDesktop {
  display: none;
}

.hideOnMobile {
  display: initial;
  position: relative;
}

.nav-menu {
  width: 220px;
  min-width: 220px;
  /* background-color: aliceblue; */
  padding: 4em;
  display: flex;
  flex-direction: column;
}

.nav-menu * {
  text-decoration: none;
  color: black;
  color: #9B7E46;
  margin-bottom: .5em;
}

.nav-menu a {
  cursor: pointer;

}

.nav-accordion {
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav-accordion-links {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.nav-accordion-links a {
  color: #e4c7b3;
}

.nav-accordion-buffer {
  /* background-color: palegreen; */
  /* background-color: white;
  background-color: #F8C5B3; */
  background-color: #f6f0e1;
  width: 100%;
  position: absolute;
  height: 10em;
  display: flex;
  flex-direction: column;
}

.nav-accordion-buffer.isSlidDefault {
  transform: translateY(35%);
}

.nav-accordion-buffer.isSlid {
  animation: slidebufferdown .5s ease-out forwards;
}

@keyframes slidebufferdown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(35%);
  }
}

.image.isRoot {
  position: relative;
}

#landingOne, #landingTwo, #landingThree {
  position: absolute;
}

#landingOne {
  z-index: 3;
}

#landingTwo {
  z-index: 2;
}

#landingThree {
  z-index: 1;
}

.landing.first {
  animation: opacityfirst 8s ease-in-out infinite;
}

.landing.second {
  animation: opacitysecond 8s ease-in-out infinite;
}

.landing.third {
  animation: opacitythird 8s ease-in-out infinite;
}

@keyframes opacityfirst {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacitysecond {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacitythird {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

article {
  /* background-color: lightgray; */
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 4em;
}

div.image, div.content {
  width: 50%;
}

div.image.isRoot {
  width: 100%;
  max-width: 100%;
  text-align: left;
}

article div.content {
  font-size: 12px;
  line-height: 18px;
}

article div.image img {
  width: 75%;
}

article div.image {
  text-align: center;
}

article div.image img.contact {
  max-width: 400px;
}

article div.content .text {
  padding-left: 5em;
  padding-right: 5em;
}

img.social {
  width: 25px;
  height: 25px;
  padding: 5px;
}

@media(max-width:768px) {
  html {
    height: 100vh;
  }
  html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .hideOnDesktop {
    display: initial;
  }
  .hideOnMobile {
    display: none;
  }
  .mobile-header {
    margin-left: .5em;
    margin-top: .5em;
    position: relative;
  }
  .mobile-header-menu {
    position: absolute;
    right: 1em;
    top: 0;
    font-size: .5em;
    cursor: pointer;
  }
  .landing {
    flex-direction: column;
    position: relative;
  }
  .nav-menu {
    /* background-color: aliceblue; */
    background-color: #f6f0e1;
    position: absolute;
    top: 3em;
    height: 100%;
    padding: 0;
    padding-top: 2em;
    width: 100%;
    transform: translateX(105%);
  }
  .nav-menu a{
    padding-left: 2em;
  }
  .nav-menu.isSlid {
    animation: slidenavin .25s linear forwards;
  }
  @keyframes slidenavin {
    0% {
      transform: translateX(105%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  div.image.isRoot {
    text-align: center;
  }
}
@media(min-width: 320px) {
  article {
    padding-top: 1em;
  }
  article div.image img {
    width: 100%;
    max-width: 75%;
  }
  article div.image {
    width: auto;
    max-width: 100%;
    margin-bottom: 2em;
  }
  article div.content {
    width: auto;
  }
}
@media(min-width: 769px) {
  article {
    padding-top: 4em;
  }
  article div.image {
    text-align: left;
    width: auto;
    max-width: 75%;
    margin-bottom: 2em;
  }
  article div.content {
    width: auto;
    max-width: 75%;
  }
  article div.content .text {
    padding: 0;
  }
  article div.image img {
    width: 100%;
    max-width: 75%;
  }
  article div.image img.about {
    max-width: 400px
  }
}
@media(min-width: 1200px) {
  .nav-menu {
    padding: 4em;
  }
  article {
    flex-direction: row;
  }
  article div.content .text {
    padding-left: .5em;
    padding-right: .5em;
    max-width: 75%;
  }
  article div.content {
    width: 50%;
  }
  article div.image {
    margin-right: 5%;
  }
}
