body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* TOP SECTION */
section.landing {
  height: 100vh;
  position: relative;
}

.bg-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
}

section.why {
  /* height: 85vh; */
  background-color: white;
}

section h1 {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  color: white;
  top: 20vh;
  font-size: 2em;
  letter-spacing: 2px;
}

section h1 span {
  color: #4abf4f;
  color: #01ABAA;
  color: #FEA680;
  text-decoration: underline;
  text-transform: uppercase;
}

.emoji-container {
  background-color: #FEDC3D;
  width: 100%;
  height: 8vh;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 2;
  padding-left: 1em;
}

.sitename {
  position: absolute;
  right: 2em;
  font-size: .9em;
  font-weight: bold;
}

.emoji-content {
  position: relative;
}

.emoji-content img {
  width: 2em;
}

.scrolling-container {
  width: 100%;
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30vh;
  overflow: hidden;
}

.scrolling-content {
  transform: translateY(40%);
  animation: scrollingAnimation 4s infinite linear;
}

.scrolling-content div {
  font-size: 4em;
  text-align: center;
  color: #01ABAA;
  font-weight: bold;
}

@keyframes scrollingAnimation {
  0% {
    transform: translateY(40%);
  }
  15% {
    transform: translateY(40%);
  }
  20% {
    transform: translateY(20%);
  }
  35% {
    transform: translateY(20%);
  }
  40% {
    transform: translateY(0%);
  }
  55% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(-20%);
  }
  75% {
    transform: translateY(-20%);
  }
  80% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(-40%);
  }
}

.landing .cta-input-container {
  position: absolute;
  width: 100%;
  top: 70vh;
  text-align: center;
}

.cta-input-container button {
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  width: 20vw;
  background-color: #FEDC3D;
  outline: none;
  border: none;
  border-radius: 5px;
  color: black;
  font-family: 'Rubik';
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}
